<%include file="header-jquery.html" />
<script type="text/javascript">
<%include file="js/createlinkedslider.js" />
</script>


<p>

You can change different parameters of the knot detection algorithm:

alpha resolution (<font color="blue"> <i>a</i> </font>) and the
minimal and maximal radius values of the analyse
interval (<font color="blue"><i>rMin</i></font>,
<font color="blue"><i>rMax</i></font>).



</p>

<ul>
<li>
  <!-- code for slider -->
  <div style="float:left;padding-right:25px">
    <label for="minthreshold">Alpha resolution: <font color="blue"><i>a</i></font></label>
    <input type="text" style="font-family:monospace;text-align:right"
           size="4" id="minthreshold" name="minthreshold" value="500" />
  </div>
  <div id="minthreshold_slider" name="minthreshold_slider" style="width:280px;float:left;margin-top:4px;font-size:10pt"></div>
  <script type="text/javascript">
    // Turn DIV slider into a slider linked to scale
    $(document).ready(function() {
    createLinkedSlider('#minthreshold', '#minthreshold_slider', 100, 900, 1);
    });
  </script>
  <div style="clear:both"> </div>
  <!-- end of code for slider -->
</li>

<li>
 <!-- code for slider -->
  <div style="float:left;padding-right:25px">
    <label for="rmin">Min radius: <font color="blue"><i> rMin </i></font></label>
    <input type="text" style="font-family:monospace;text-align:right"
           size="4" id="rmin" name="rmin" value="40" />
  </div>
  <div id="rmin_slider" name="rmin_slider" style="width:280px;float:left;margin-top:4px;font-size:10pt"></div>
  <script type="text/javascript">
    // Turn DIV slider into a slider linked to scale
    $(document).ready(function() {
    createLinkedSlider('#rmin', '#rmin_slider', 10, 150, 1);
    });
  </script>
  <div style="clear:both"> </div>
  <!-- end of code for slider -->

</li>

<li>
 <!-- code for slider -->
  <div style="float:left;padding-right:25px">
    <label for="rmax">Max radius: <font color="blue"><i> rMax </i></font></label>
    <input type="text" style="font-family:monospace;text-align:right"
           size="4" id="rmax" name="rmax" value="60" />
  </div>
  <div id="rmax_slider" name="rmax_slider" style="width:280px;float:left;margin-top:4px;font-size:10pt"></div>
  <script type="text/javascript">
    // Turn DIV slider into a slider linked to scale
    $(document).ready(function() {
    createLinkedSlider('#rmax', '#rmax_slider', 10, 150, 1);
    });
  </script>
  <div style="clear:both"> </div>
  <!-- end of code for slider -->
</li>

</ul>

  

    <input type="submit" value="run" />
  </div>
</form>

<hr />

<div>
  <img src="${app.work_url + 'input_0.png'}" alt="" />
</div>

<%include file="footer.html" />
