<%include file="header-jquery.html" />
<script type="text/javascript">
<%include file="js/createlinkedslider.js" />
</script>


<p>

You can change different parameter of the knot detection algorithm:

<font color="blue"> <i>Alpha Resolution</i> </font>, 
<font color="blue"><i>Radius Min</i></font>,
<font color="blue"><i>Radius Max</i></font>.



</p>

<ul>
<li>
  <!-- code for slider -->
  <div style="float:left;padding-right:25px">
    <label for="minthreshold">Alpha resolution: <font color="blue"><i> a </i></font>:</label>
    <input type="text" style="font-family:monospace;text-align:right"
           size="4" id="minthreshold" name="minthreshold" value="500" />
  </div>
  <div id="minthreshold_slider" name="minthreshold_slider" style="width:280px;float:left;margin-top:4px;font-size:10pt"></div>
  <script type="text/javascript">
    // Turn DIV slider into a slider linked to scale
    $(document).ready(function() {
    createLinkedSlider('#minthreshold', '#minthreshold_slider', 100, 900, 1);
    });
  </script>
  <div style="clear:both"> </div>
  <!-- end of code for slider -->
</li>

<li>
 <!-- code for slider -->
  <div style="float:left;padding-right:25px">
    <label for="minr">Min radius: <font color="blue"><i> minR </i></font>:</label>
    <input type="text" style="font-family:monospace;text-align:right"
           size="4" id="minr" name="minr" value="40" />
  </div>
  <div id="minr_slider" name="minr_slider" style="width:280px;float:left;margin-top:4px;font-size:10pt"></div>
  <script type="text/javascript">
    // Turn DIV slider into a slider linked to scale
    $(document).ready(function() {
    createLinkedSlider('#minr', '#minr_slider', 10, 150, 1);
    });
  </script>
  <div style="clear:both"> </div>
  <!-- end of code for slider -->

</li>

<li>
 <!-- code for slider -->
  <div style="float:left;padding-right:25px">
    <label for="minr">Max radius: <font color="blue"><i> maxR </i></font>:</label>
    <input type="text" style="font-family:monospace;text-align:right"
           size="4" id="maxr" name="maxr" value="40" />
  </div>
  <div id="maxr_slider" name="max_slider" style="width:280px;float:left;margin-top:4px;font-size:10pt"></div>
  <script type="text/javascript">
    // Turn DIV slider into a slider linked to scale
    $(document).ready(function() {
    createLinkedSlider('#maxr', '#maxr_slider', 10, 150, 1);
    });
  </script>
  <div style="clear:both"> </div>
  <!-- end of code for slider -->
</li>

</ul>

  



<p><form action="${app.base_url + 'wait'}" method="get">
  <div class="action">
    <font color=blue>Model</font> for the decomposition:
    <input type="hidden" name="key" value="${app.key}">
    <SELECT name="typeprimitive">
      <OPTION>StraightLine</OPTION>
      <OPTION>Circle</OPTION>
      <OPTION>Conic</OPTION>
    </SELECT>

</p>
<p>
    Use black background: <input type="checkbox" name="b" value="on" size="4" />
</p>


    <input type="submit" value="run" />
  </div>
</form>

<hr />

<div>
  <img src="${app.work_url + 'input_0.png'}" alt="" />
</div>

<%include file="footer.html" />
